@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$fa-font-path: "../fonts/font-awesome";

@import "../../../node_modules/font-awesome/scss/font-awesome.scss";

.container {
  margin: auto;
  width: 80%;
}

.panel-padding {
  margin: 10px auto 10px auto;
}

.nav-btn-width {
  min-width: 100%;
}

.float-glyph-right {
  float: right;
}

.navbar-collapse.in {
  overflow-y: visible;
}

.btn-width {
  width: 100%;
}

.btn-block-container {
  max-width: 300px;
  margin: auto;
}

.tile {
  background-color: #F8F8F8;
  padding: 15px;
  margin: 8px 0px;
  box-shadow: 5px 5px 3px #B8B8B8;
}

ul {
  list-style-type:none;
}

.line-separator {
  padding: 10px 20px 0 20px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 20px;
}

.center-text {
  text-align: center;
}

.center-img {
  display:block;
  margin:auto;
}

.icon-padding {
  padding: 5px;
}
